
/* 이미지 스타일 */
img {
  max-width: 100%;  /* 이미지의 최대 너비를 100%로 설정 */
  height: auto;  /* 이미지 비율 유지 */
}

.c-content02 {
  width: 100%;  /* c-content02 너비를 1280px로 설정 */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 800px;
}

.login-wrapper {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  padding: 56px;
  border: 2px solid #1B68E4;
}

/* 로그인 컨테이너 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-header {
  margin-bottom: 28px;
}

.google-logo {
  object-fit: contain;
}

/* 로그인 폼 스타일 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-bottom: 10px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #d3d5d7;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
}

.login-form input:focus {
  outline: none;
  border-color: #1B68E4;  /* 구글 블루 색상 */
}

.login-form button {
  padding: 12px;
  border: none;
  background-color: #357ae8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1B68E4;  /* 구글 블루 색상 */
}

/* 로그인 하단 부분 */
.login-footer {
  margin-top: 20px;
}

.login-footer a {
  color: #4285f4;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-footer a:hover {
  text-decoration: underline;
}

.errMsg {
	width: 240px;
	color: #ff7373;
}

.logo-box {
  width: 286px;
  display: flex;
  justify-content: flex-end;
}

.login-box > ul{
  display: flex;
}

li > a:hover {
  cursor: pointer;
  color: rgb(129, 130, 204);
}

.login-box a::before {
  content: "";
  display: inline-block;
  width: 20px; /* 로고의 크기 조정 */
  height: 20px;
  background-image: url('image/google.png');
  background-size: cover;
}